@import "tailwindcss";

:root {
  --background: #F5F5F5;
  --foreground: #0b0c0b;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #080708;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.logo {
  background-color: #002C61;
  color: white;
  border-radius: 1px solid #002C61;
  margin: 5px;
  border: #002C61 solid 1px;
  
}

.logo div:first-child {
  font-weight: bold;
    padding: 5px;
}

.logo div:last-child {
  font-weight: normal;  
  background-color: white;
  color: #01224b;
  padding: 5px;
}

input:focus {
    outline: none;
}

.product-details {
  opacity: 0.9;
}
